#main_banner{
/*  height: 500px;*/
}
.home_banner_img {
    width: 100vw;
    height: 100vh;
  }

  #hero{
    width: 100vw;
    height: 100vh;
/*    color: red;*/

  }

  #about{
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;

  }
  #sub_hero{
    background-color: black;
  }
