#main_banner{
/*  height: 500px;*/
}
.home_banner_img {
    width: 100vw;
    height: 100vh;
  }

  #bookExprience{
    width: 100vw;
    height: 100vh;
/*    color: red;*/

  }

  #about{
    width: 100vw;
    height: 100vh;
    color: white;

  }

  #dayTours{
    width: 100vw;
  /*  height: 100vh;*/
    background-color: #1f1f1f;

  }
  #sub_hero{
    margin-left: 5%;
    margin-right: 5%;
  }
  .back_sub{
    margin-top: 20px;
    border: black solid 1px;
  }
