#main_banner{
/*  height: 500px;*/
}
.home_banner_img {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  #bookExprience{
    width: 100vw;
    height: 100vh;
/*    color: red;*/

  }

  #about{
    width: 100vw;
    height: 100vh;
    color: black;
    padding-top: 20px;
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;
    margin-bottom: 10px;

  }


  #about_us :hover {
    opacity: 0.7;
    border: 1px solid green;
    padding: 10px;
  }



  .dayTours{
    width: 100vw;
  /*  height: 100vh;*/
    background-color: white; /*#1f1f1f;*/

  }

  .back_sub{
    margin-top: 20px;
    border: black solid 1px;
  }

/*  Footer  ============================ */
footer {
padding:50px;
background:#65AAF0;
}

footer p {
color:#fff;
}

footer {
text-transform:uppercase;
text-shadow:none;
font-weight:550;
color:#272727;
}

footer .btn-gamp a {
font-size: 12px;
text-transform: uppercase;
letter-spacing: 3px;
color: #fff;
width: 180px;
height: 60px;
text-align: center;
display: inline-block;
line-height: 45px;
margin-right:170px;
margin-top:20px;
background:#272727;
border: 1px solid #fff;
border-radius:0px;
}

footer .btn-gamp a:hover {
background:#fff;
color:#272727;
opacity: 0.8;
transition: all 0.5s;
}

footer .btn-gamp input {
font-size: 12px;
text-transform: uppercase;
letter-spacing: 3px;
color: #272727;
width: 180px;
height: 60px;
text-align: center;
display: inline-block;
line-height: 56px;
border-radius:0px;
border: 1px solid #fff;
}


.sub-footer  {
	background:#272727;
	padding:30px;
}
/*  social media */
 .fama {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

footer .fa:hover {
    opacity: 0.7;
}

footer .fa-facebook {
/*  background: #3B5998;*/
  color: white;
}

footer .fa-twitter {
/**  background: #55ACEE;*/
  color: white;
}

footer .fa-google {
/*  background: #dd4b39;*/
  color: white;
}

.fa-linkedin {
/*  background: #007bb5;*/
  color: white;
}

.fa-youtube {
/*  background: #bb0000;*/
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
